<header id="header" class="on-{{ .Title | urlize }}">
  <ul id="menu" class="contained">
    <li class="logo"><a href="/" class="logo-link"><img src="/img/jamstack.id-full-logo.svg"/></a></li>
    <li><a href="/best-practices" class="best-practices-link">Praktek Terbaik</a></li>
    <li><a href="/examples" class="examples-link">Contoh</a></li>
    <li><a href="/resources" class="resources-link">Sumber daya</a></li>
    <li><a href="/community" class="community-link">Komunitas</a></li>
  </ul>
</header>
