{{ define "main" }}
<section class="hero">
    <div class="contained">
      <h1>{{ .Site.Data.definitions.jamstack | markdownify }}</h1>
    </div>
  </section>
  
  <section class="intro">
    <div class="contained grid">
      <div>{{ .Site.Data.definitions.explanation | markdownify }}</div>
      <div>
        <h1>FAQ</h1>
        <a class="text-link scrolling-link" href="#what"><h4>Apa itu JAMstack?</h4></a>
        <a class="text-link scrolling-link" href="#why"><h4>Kenapa JAMstack?</h4></a>
        <a class="text-link scrolling-link" href="#how"><h4>Bagaimana saya memulai?</h4></a>
      </div>
    </div>
  </section>
  
  <section id="what" class="jam-breakdown">
    <div class="contained intro">
      <h1>Apa itu JAMstack?</h1>
      <p>Proyek Anda dibangun dengan JAMstack jika memenuhi tiga kriteria utama:</p>
    </div>
    <div class="letter-definition">
      <img class="letter" src="/img/j.svg"/>
      <h1>JavaScript</h1>
      <p>{{ .Site.Data.definitions.javascript | markdownify }}</p>
    </div>
    <div class="letter-definition">
      <img class="letter" src="/img/a.svg"/>
      <h1>APIs</h1>
      <p>{{ .Site.Data.definitions.apis | markdownify }}</p>
    </div>
    <div class="letter-definition">
      <img class="letter" src="/img/m.svg"/>
      <h1>Markup</h1>
      <p>{{ .Site.Data.definitions.markup | markdownify }}</p>
    </div>
  </section>
  
  <section class="jam-disqualifications contained">
    <h1>Kapan situs Anda <em>tidak</em> dibangun dengan JAMstack?</h1>
    <p>Setiap proyek yang bergantung pada hubungan erat antara klien dan server tidak dibangun dengan JAMstack. Ini termasuk:</p>
    <div class="disqualifications">
      {{ range .Site.Data.definitions.disqualifications }}
        <h4 class="disqualification">{{ .disqualification | markdownify }}</h4>
      {{ end }}
    </div>
  </section>
  
  <section id="why" class="advantages contained">
    <h1>Kenapa JAMstack?</h1>
    <div class="advantages-grid">
      {{ range .Site.Data.definitions.advantages }}
        <div class="advantage">
          <h4>{{ .advantage | markdownify }}</h4>
          <p>{{ .description | markdownify }}</p>
        </div>
      {{ end }}
    </div>
  </section>
  
  <section id="how" class="bottom-cta contained">
    <h1>Bagaimana saya memulai?</h1>
    <a href="/best-practices"><h4>Pelajari Tentang Praktik Terbaik →</h4></a>
    <a href="/resources"><h4>Lihat Sumberdaya →</h4></a>
  </section>
{{ end }}
